/* BASE */
body {}

em strong {
    color: red;
}

/* HEADER */
.titulo-principal {
    padding-left: 20px;
}

/* MAIN */
.banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
    text-align: center;
}



.titulo-centralizado {
    text-align: center;
}

.missao {
    font-size: 20px;
}

.beneficios {
    background-color: rgb(253, 168, 129);
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
}

.itens {
    font-style: italic;
}

.beneficios-imagem {
    width: 50%;
}

/* FOOTER */