body,
input {
    font-family: 'Poppins', sans-serif;
}

input {
    border: 1px solid #333333;
}

.container {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

/* HEADER .................................................*/
header {
    background: #333333;
    padding: 20px 0;
}

/* nav .................................................*/
nav {
    position: absolute;
    top: 64px;
    right: 0;
}

nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    transition: 0.3s;
    cursor: pointer;
}

nav a:hover {
    color: #E9881B;
}

.titulo-principal {
    padding-left: 20px;
}

/* MAIN .................................................*/
.banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}


.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong {
    font-weight: 500;
}

.principal em {
    font-style: italic;
}

.missao {
    font-size: 20px;
}

.beneficios {
    background-color: rgb(253, 168, 129);
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
}

.itens {
    font-style: italic;
}

.beneficios-imagem {
    width: 50%;
}

/* PRODUTOS .............................................*/
.produtos {
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: #bd6501 2px solid;
    border-radius: 8px;
}

.produtos li:hover {
    border-color: #FFAE4C;
}

.produtos li:active {
    border-color: #f2f2f2;
}

.produtos li:hover h2 {
    color: #E9881B;
}

.produtos h2 {
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 10px;
}

.descricao {
    font-size: 18px;
    margin: 10px 0 0;
}

.produtos-preco {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 0;
}

/* CONTATOS .............................................*/
form {
    margin: 40px 0;
}

form label,
legend {
    display: block;
    font-size: 20px;
    margin: 0 0 8px;
}

.input-padrao {
    display: block;
    margin: 0 0 24px;
    padding: 8px 24px;
    width: 50%;
}

.checkbox {
    margin: 24px 0;
}

.botao {
    width: auto;
    padding: 0 16px;
    height: 50px;
    color: #333333;
    font-size: 18px;
    background: transparent;
    font-weight: 500;
    border: #E9881B 1px solid;
    transition: 0.3s all;
    cursor: pointer;
}

.botao:hover {
    color:#E9881B;
    transform: scale(1.01);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #E9881B;
    color: #f2f2f2;
}

th, td {
    border: 1px solid #333333;
    padding: 8px 16px;
}



/* FOOTER .................................................*/
footer {
    text-align: center;
}

footer {
    padding: 50px 0;
    color: #f2f2f2;
    background: url("img/bg.jpg");
}

.copyright {
    color: #f2f2f2;
    font-size: 16px;
    margin: 20px 0 0;
}